@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Nunito Sans", system-ui;
  color: #111517;
  background-color: #fafafa;
  padding-bottom: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 16px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px #0000000e;

  h1 {
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
  }

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.37px;
  }
}

.container {
  padding: 0 16px;
  margin-inline: auto;
}

.input-container {
  display: grid;
  gap: 40px;
  align-items: center;
  margin-top: 20px;

  .input-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px #0000000e;

    input {
      padding: 14px 0;
      width: 100%;
      border: none;
      outline: none;
      font-size: 12px;
      line-height: 20px;
    }

    svg {
      margin-inline: 16px;
    }
  }

  .select-container {
    min-width: 200px;
    max-width: 200px;
    border-radius: 5px;
    select {
      width: 100%;
      border: none;
      outline: none;
      font-size: 12px;
      line-height: 20px;
      padding: 14px 24px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 2px 9px 0px #0000000e;
    }
  }
}

.card-container {
  display: grid;
  gap: 40px;
  justify-items: center;
  margin-top: 32px;

  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px #0000000e;
    width: 264px;
    display: grid;
    grid-template-rows: max-content 1fr;
    cursor: pointer;

    img {
      width: 100%;
      height: 160px;
      object-fit: fill;
    }

    .card-info {
      padding: 24px;
      align-self: end;
      display: grid;
      gap: 8px;
      h2 {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 800;
        line-height: 26px;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        strong {
          font-weight: 600;
        }
      }
    }
  }
}

.back-btn {
  margin-top: 40px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-details {
  display: grid;
  gap: 44px;

  img {
    max-width: 320px;
    object-fit: fill;
    margin-inline: auto;
  }

  .card-details-info {
    max-width: 320px;
    margin-inline: auto;
    display: grid;
    gap: 32px;
    main {
      display: grid;
      gap: 32px;
      .card-details-first-info,
      .card-details-second-info {
        p {
          font-size: 14px;
          line-height: 32px;

          strong {
            font-size: 14px;
            font-weight: 600;
            line-height: 32px;
          }
        }
      }
    }
    .border-countries-p {
      display: flex;
      align-self: flex-end;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      strong {
        font-weight: 600;
        line-height: 24px;
        width: 100%;
        margin-bottom: 16px;
      }

      button {
        font-size: 12px;
        font-weight: 300;
        line-height: 16.37px;
      }
    }
  }
}

.white-btn {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  padding: 6px 24px;
  cursor: pointer;
  box-shadow: 0px 0px 7px 0px #0000004b;
}

@media (min-width: 700px) {
  header {
    padding: 24px 32px;

    h1 {
      font-size: 24px;
      line-height: 32.74px;
    }

    button {
      font-size: 16px;
      line-height: 21.82px;
      img {
        width: 18px;
      }
    }
  }

  .container {
    padding: 0 32px;
  }

  .input-container {
    grid-template-columns: repeat(2, 1fr);
    .input-search {
      img {
        width: 18px;
      }
      input {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .select-container {
      justify-self: end;
      select {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1050px) {
  header {
    padding: 24px 80px;
  }

  .container {
    padding: 0 80px;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-details {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    img {
      width: 100%;
      max-width: 560px;
    }

    .card-details-info {
      margin-inline: inherit;
      max-width: inherit;
      main {
        grid-template-columns: repeat(2, max-content);
        gap: 120px;
      }
      .border-countries-p {
        strong {
          margin-bottom: 0;
          width: max-content;
        }
      }
    }
  }
}

@media (min-width: 1350px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (min-width: 1650px) {
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}